<meta http-equiv="Refresh" content="5">

<div class="container">
  <div class="row brand">
    <div class="col-12 col-lg-8">
      <h1>Personal Locator</h1>
      <h6 class="mobile-hide" style="font-weight:300;">{{today}}</h6>
    </div>
    <div class="col-12 col-lg-4">
      
    </div>
  </div>
  
  <!-- Mobile List -->
  
  <div class="row brand mobile-show">
    <div class="col-6">
      <h6 class="person-list-text" style="color:#555 !important;">Persons List :</h6>
    </div>
    <div class="col-6 text-right">
      <h6 style="color:#555 !important;">{{today}}</h6>
    </div>
  </div>
  
  {{#each persons}}
  <div class="row persons mobile-show">
    <div class="col-10 persons-head" style="border-top-left-radius: 2px;">
      <span class="text-list">{{name}}</span>
    </div>
    <div class="col-2 persons-head"  style="border-top-right-radius: 2px;">
      <span class="text-list" style="color:#314495 !important;font-weight:500;">{{status}}</span>
    </div>
    <div class="col-12 persons-list" style="padding-top:0;border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;">
      <span class="text-list">{{address}}</span>
    </div>
  </div>
  {{/each}}
  
  <!-- /Mobile List -->
  
  <!-- Desktop List -->
  {{#each persons}}
  <div class="row persons mobile-hide">
    <div class="col-7 persons-head" style="border-top-left-radius: 2px;">
      <span class="text-list">{{name}}</span>
    </div>
    <div class="col-4 persons-list" style="border-bottom-left-radius: 2px;">
        <span class="text-list">{{address}}</span>
    </div>
    <div class="col-1 persons-head" style="border-top-right-radius: 2px;border-bottom-right-radius: 2px;">
      <span class="text-list" style="color:#314495;">{{status}}</span>
    </div>
  </div>
  {{/each}}
  <!-- Desktop List -->
  
  <!--
  <div class="row m-0 mobile-hide">
    <div class="col-6 p-0 text-center" style="background-color:#314495;">
      <span>Nama</span>
    </div>
    <div class="col-2 p-0 text-center" style="background-color:#314495;">
      <span>Status</span>
    </div>
    <div class="col-4 p-0 text-center" style="background-color:#314495;">
      <span>Address</span>
    </div>
  </div>
  
    
  <div class="row mobile-hide">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-nusa">
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Status</th>
              <th scope="col">Address</th>
            </tr>
          </thead>
          <tbody>
            {{#each persons}}
            <tr>
              <th scope="row"></th>
              <td>{{name}}</td>
              <td>{{status}}</td>
              <td>{{address}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  -->
  
</div>